.profile-heading {
  margin-top: 2%;
  text-align: center;
}

.profile-table {
  margin: auto;
  margin-top: 2%;
  border-collapse: collapse;
  width: 50%;
}

.profile-table th,
td {
  text-align: center;
  width: 12.5%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 255, 174);
}

.profile-table button {
  background-color: orangered;
  border: none;
  color: aliceblue;
  padding: 15px 30px;
  border-radius: 5px;
}

.profile-table button:hover {
  background-color: #4caf50;
  padding: 13.5px 28px;
  border: 2px solid rgb(255, 255, 255);
}

.profile-table input[type=text] {
  border:2px solid rgb(112, 70, 217);
  border-radius: 5px;
  padding: 7px;
}

.prompt {
  text-align: center;
  color: red;
}
