.bookings-main {
  margin: 2%;
}

.bookings-table {
  border-collapse: collapse;
  width: 100%;
}

.bookings-table th,
td {
  text-align: center;
  width: 12.5%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 255, 174);
}
