body {
  background-color: rgba(235, 235, 243, 0.703);
}

.login-container {
  background-color: rgba(143, 143, 236, 0.577);
  margin: auto;
  margin-top: 3%;
  height: fit-content;
  width: fit-content;
  padding: 2%;
  border-radius: 4%;
  text-align: end;
}

.submit-button button {
  background-color: #4caf50;
  border: none;
  color: aliceblue;
  padding: 15px 30px;
  border-radius: 5%;
}

.submit-button button:hover {
  background-color: orangered;
  padding: 13px 28px;
  border: 2px solid white;
}

.prompt {
  text-align: center;
  color: red;
}
