.movies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.each-movie {
    background-color: rgb(8, 165, 165);
    
}

.each-movie img {
    height: 250px;
    width: 400px;
}