.book-train-main {
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

.book-train-table {
  border-collapse: collapse;
  margin: 1%;
  border-radius: 5px;
  margin-left: 2%;
}

.book-train-table th, td {
  text-align: center;
  width: 12.5%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 255, 174);
}

.book-train button {
  background-color: #4caf50;
  border: none;
  color: rgba(0, 0, 0, 0.714);
  padding: 15px 30px;
  border-radius: 5px;
}

.book-train button:hover {
  background-color: orangered;
  padding: 13.5px 28px;
  border: 2px solid white;
}

.booking-popup {
  height: fit-content;
  width: fit-content;
  margin:auto;
  margin-top: 2%;
  background-color: rgba(150, 67, 228, 0.874);
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 8px; 
}

.book-train-input-container {
  width: auto;
  height:auto;
  background-color: rgb(242, 209, 102);
  padding: 1.5%;
  margin:1.5%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}

.book-train input[type=text] {
  border:2px solid rgb(112, 70, 217);
  border-radius: 5px;
  padding: 7px;
}


.train-display-container {
  float: left;
  width: 70%;
}

.availability-container {
  float: right;
  width: 30%;
}

.decision-block {
  float: right;
  width: 28%;
  height: 150px;
  margin-top: 0.5%;
  margin-right: 2%;
  background-color: rgba(196, 183, 167, 0.86);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
}

.availability-table {
  border-collapse: collapse;
  border-radius: 5px;
  margin: 2%;
}

.availability-table th, td {
  text-align: center;
  width: 12.5%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 255, 174);
}

.no-data {
  text-align: center;
  font-weight: bolder;
}

.date-prompt {
  text-align: center;
  font-weight: bolder;
  color: red;
}

.drop-down {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.Dropdown-menu.drop-down-menu {
  width: 80%;
}

.days-viewer {
  display: flex;
  justify-content: space-evenly;
}

.scroll-hide {
  width: 195px;
  height: 400px;
  overflow: hidden;
}

.source-station-division {
  height: 100%;
  margin-right: -50px;
  padding-right: 50px;
  overflow-y: scroll;
}

.book-train-full-page {
  height: 94vh;
  width: 99vw;
}

.drop-down-station {
  border-collapse: collapse;
}

.no-trains {
  text-align: center;
  color: red;
  font-size: larger;
}

.close-cross {
  padding-right: 50px;
  color: red;
  text-align: right;
  cursor: pointer;
}

.route-details {
  float: left;
}